
form.ec-registro
    h2.ec-recordar__title Registrate
    .ec-login__field
        input.ec-recordar__input(type="text")
        label.ec-recordar__label Nombre
    .ec-login__field
        input.ec-recordar__input(type="email")
        label.ec-recordar__label Email
    .ec-login__field
        input.ec-recordar__input(type="password")
        label.ec-recordar__label Contraseña
    .ec-login__field
        input.ec-recordar__input(type="password")
        label.ec-recordar__label Confirmar contraseña
    button.ec-recordar__button(type="submit") Sign in
    .ec-recordar__return(@click="$router.go(-1)") Volver