
form.ec-recordar
    h2.ec-recordar__title Vamos a recordar tu contraseña
    .ec-login__field
        input.ec-recordar__input(type="email")
        label.ec-recordar__label Introduce tu Email
    button.ec-recordar__button(type="submit") Enviar
    .ec-recordar__return(@click="$router.go(-1)") Volver